.formSection {
  background-color: white;
  max-width: 1000px;
  margin: 0 auto;
}

.formSection__header {
  padding: 20px;
  border-bottom: 2px solid rgb(228, 226, 226);
  margin-bottom: 0;
}

.formSection__list {
  padding: 20px;
  border-bottom: 2px solid rgb(228, 226, 226);
  margin-bottom: 0;
  list-style-type: none;
}

.form {
  padding: 20px;
  border-bottom: 2px solid rgb(228, 226, 226);
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}

@media (max-width: 375px) {
  .form {
    flex-wrap: wrap;
  }
}

.formInput {
  padding: 10px;
  border: 1px solid rgb(228, 226, 226);
  flex-basis: 74%;
}

@media (max-width: 375px) {
  .formInput {
    flex-basis: 100%;
  }
}

.formButton {
  padding: 10px;
  border: none;
  background-color: teal;
  color: white;
  flex-basis: 24%;
}

@media (max-width: 375px) {
  .formButton {
    flex-basis: 100%;
  }
}

.formButton:hover {
  background-color: rgba(0, 128, 128, 0.712);
}

.formButton:active {
  background-color: aqua;
}

.formButton_task--done {
  width: 35px;
  height: 35px;
  padding: 10px;
  border: none;
  background-color: rgb(6, 172, 0);
  color: white;
}

.formButton_task--done:hover {
  background-color: rgba(6, 172, 0, 0.664);
}

.formButton_task--done:active {
  background-color: rgb(14, 248, 6);
}

.formButton_task--remove {
  width: 35px;
  height: 35px;
  padding: 10px;
  border: none;
  background-color: rgb(207, 0, 0);
  color: white;
}

.formButton_task--remove:hover {
  background-color: rgba(207, 0, 0, 0.541);
}

.formButton_task--remove:active {
  background-color: rgb(255, 0, 0);
}

.formSection__task {
  border-bottom: 1px rgb(228, 226, 226);
}
