.form {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

@media (max-width: 375px) {
  .form {
    grid-template-columns: 1fr;
  }
}

.form__input {
  padding: 10px;
  border: 1px solid rgb(228, 226, 226);
  flex-basis: 74%;
}

@media (max-width: 375px) {
  .form__input {
    flex-basis: 100%;
  }
}

.form__button {
  padding: 10px;
  border: none;
  background-color: teal;
  color: white;
  flex-basis: 24%;
}

.form__button:hover {
  background-color: rgba(0, 128, 128, 0.712);
}

.form__button:active {
  background-color: aqua;
}
